# UniFi image version
UNIFI_IMAGE_TAG=10.2.105.10

# Mongo root (admin) user
MONGO_INITDB_ROOT_USERNAME=changeme-root
MONGO_INITDB_ROOT_PASSWORD=changeme-root-password

# Mongo application user (used by UniFi)
MONGO_APP_USERNAME=unifi
MONGO_APP_PASSWORD=changeme-app-password

MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=admin
